In [1]:
import pandas as pd 
import numpy as np

In [ ]:
fake = pd.read_csv('../../Dataset/Fake.csv')
true = pd.read_csv('../../Dataset/True.csv')
fake.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [ ]:
# dataset is balanced . 
fake.shape
true.shape

(23481, 5)

In [ ]:
# defining labels for the dataset
fake['label'] = 0
true['label'] = 1
true.head()
# combining the two datasets
data = pd.concat([fake, true], axis=0)

<class 'pandas.core.frame.DataFrame'>
Index: 44898 entries, 0 to 21416
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 2.1+ MB

In [17]:
data.shape

(44898, 5)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44689 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44689 non-null  object
 1   text    44689 non-null  object
 2   date    44689 non-null  object
 3   label   44689 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.7+ MB

In [22]:
data.nunique()

title      38729
text       38646
subject        8
date        2397
label          2
dtype: int64

In [ ]:
# finding missing values in the dataset
data.isnull().sum()
# there is no missing value in the dataset .

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [ ]:
# finding duplicate values in the dataset
data[data.duplicated(keep=False)]
# there are 209 duplicate rows in the dataset .
# droping duplicate values from the dataset
data.drop_duplicates(inplace=True)

In [59]:
# checking the shape of the dataset after droping duplicate values  
data.shape

(44689, 4)

In [42]:
# lookgng at what subject columns contains . 
data['subject'].value_counts()
data.groupby("subject")['label'].value_counts().reset_index()

           subject  label  count
0  Government News      0   1570
1      Middle-east      0    778
2             News      0   9050
3          US_News      0    783
4        left-news      0   4459
5         politics      0   6838
6     politicsNews      1  11220
7        worldnews      1   9991

In [50]:
# removing the subject column from the dataset as it is not useful for our model .
data.drop('subject', axis=1, inplace=True)

In [51]:
data.head()

,title,text,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...","December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...","December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,"December 25, 2017",0

In [60]:
# average length of the title column in the dataset
data['text'].str.len()

0        2893
1        1898
2        3597
3        2774
4        2346
         ...
21412    2821
21413     800
21414    1950
21415    1199
21416    1338
Name: text, Length: 44689, dtype: int64